.movieCardContainer {
  display: inline-block;
  width: calc(23% - 19px); 
  margin: 9px; 
  vertical-align: top;
  position: relative;
}

.movieCardContainer:hover .movieImage {
  opacity: 0.7; 
  border: 2px solid white; 
}

.movieImage {
  width: 55%; 
  height: auto;
  border-radius: 10px;
}

.movieInfo {
  padding: 3px;
}

.movieInfo h2 {
  margin-top: 0; 
}

.movieInfo p {
  margin: 5px 0; 
}

.movieInfo p strong {
  font-weight: bold; 
}
